.weather-table {
    margin: auto;
}

.weather-data {
    padding: 1em;
}

img.weather-icon {
    width: 3em;
}

input.currency_input {
    width: 5em;
    text-align: center;
    display: inline-block;
    margin-right: 1em;
    border: 2px solid rgba(75,110,3,.5);
    
}

.currency_output {
    display: inline-block;
}