.packed-logo {
    width: 1.2em;
    padding-bottom: .3em;
    padding-right: .1em;
}
body {
    background-color: #fefdf9;
}

div.detail-page-header {
   text-align: center;
}

h1.detail-page-header-text {
    margin: 20px auto 20px auto;
}

img.luggage {
    margin-bottom: 30px;
    height: 17em;
    opacity: 90%;
}

div.item-column {
    padding-top: 3em;
    margin-right: 1em;
}

div.data-column {
    text-align: left;
    padding-right: 5em;
    padding-bottom: 3em;
    text-align: center;
}

div.currency-data {
    margin-top: 1em;
    text-align: center;
}