.packed-logo {
    width: 1.2em;
    padding-bottom: .3em;
    padding-right: .1em;
}
body {
    background-color: #d3f0e4;
}

div.detail-page-header {
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

h1.detail-page-header-text {
    margin: 20px auto 20px auto;
}

/* Travel Detail Page */
div.item-column {
    padding-top: 3em;
    margin-right: 1em;
    background-color: white;    
}

div.item-column:hover {
    background-color: #f5f9f8;
}

div.data-column {
    text-align: left;
    padding-right: 5em;
    padding-bottom: 3em;
    text-align: center;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 15px;
}

div.data-column:hover {
    background-color: #f5f9f8;
}

div.currency-data {
    margin-top: 1em;
    text-align: center;
    background-color: transparent;

}

div.detail-columns {
    border: 1px solid transparent;
    border-radius: 15px;
}

div.travel-page {
    margin-top: 3em;

}

img.bags {
    max-width: 100% ;
}

img.suitcases {
    max-width: 100%;
    padding-left: 2.5in;
}

/* div.item-tables {
    background-color: red;
} */

/* div.title{
    background-color: red;
} */
.btn-success {
    background-color: green;
}
.hovertext {
    position: relative;
    background-color: green;
  }
  
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    width: 80px;
    background-color: lightgrey;
    color: #fff;
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 100;
    left: 100;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }

/* Packing Lists Page */
body {
    background-color: #dff1eb;
}
.main-container {
    background-color: #f5faf8;
    border-radius: 2%;
    margin-top: 50px;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px 20px 10px 10px;
}

.card {
    width: 250px;
    height: 350px;
    border-radius: 15px;
    margin: 2rem;
    box-shadow: 12px 12px 2px 1px #c3e6d8;
    background-size: 250px 350px;
}

.card-button {
    background-color: transparent;
    border: none;
}

.img_01 {
    background-image: url("../../public/packing-list-cards/travel_image_01.png")
}

.img_02 {
    background-image: url("../../public/packing-list-cards/travel_image_02.png")
}

.img_03 {
    background-image: url("../../public/packing-list-cards/travel_image_03.png")
}

.img_04 {
    background-image: url("../../public/packing-list-cards/travel_image_04.png")
}

.img_05 {
    background-image: url("../../public/packing-list-cards/travel_image_05.png")
}

.card-details {
    background-color: #2d675f90;
    border: transparent;
    border-radius: 10px;
    padding: .5em;
}

.card-title {
    color: #fdf9fa;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px #2b2844;  
}

.card-subtitle {
    color: #fdf9fa;
    text-shadow: 1px 1px #2b2844;
}

.card-text {
    color: #fdf9fa;
    font-weight: bold;
    text-shadow: 1px 1px #2b2844;
}

div.rcorners1 {
    border-radius: 25px;
    background: #ffffff;
  }
